body {
	position: relative;
	overflow: auto;
}

.combat-field {
	display:inline-flex;
}
.lineup-container {
	border: thick solid black;
	margin: 10px;
	display: inline-block;
}
.lineup-container h2 {
	text-align: center;
}
.lineup {
	display:inline-flex;
}

/* base position properties */
[class*="position"] {
	width: 210px;
	height: 440px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
[class*="position"] h3 {
	text-align: center;
}
.position1 {
	background: red;
}
.position2 {
	background: orange;
}
.position3 {
	background: lightgreen;
}
.position4 {
	background: dodgerblue;
}

.card-container {
	background: white;
	margin: 10px;
}

/* use of flex in order to fill horizontal space between name and level */
.card-container .header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}

.card-container .header h3 {
	color: black;
	text-align: center;
	font-size: 0.8em;
	flex: auto;
	margin: 0px;
	padding: 0px;
}

.card-container .header .filler {
	flex: auto;
}

.card-container bodyHeaderCombat {
	color: teal;
	font-size: 0.7em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
}

.card-container bodyHeaderAbilities {
	color: salmon;
	font-size: 0.7em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
}

.card-container bodyHeaderFaction {
	color: mediumorchid;
	font-size: 0.7em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
}

.card-container hpHeader {
	color: blue;
	font-size: 0.8em;
	text-align: center;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
}

.card-container dmgHeader {
	color: red;
	font-size: 0.8em;
	text-align: center;
	display:block;
	font-weight: bold;
}

.card-container img {
	width: 140px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
}

.card-container p {
	font-size: 0.7em;
	text-align: left;
	margin: 0px;
}

input {

}
#next-phase {
	background: blue;
  	border: none;
  	color: white;
  	text-transform: uppercase;
  	width: 100px;
  	height: 45px;
  	padding: 5px;
  	outline: 0;
  	cursor: pointer;
}