body {

}
.main-content {
	overflow: auto;
	margin-right: 200px;
}

.sidebar {
	width: 190px;
	height: 100%;
	overflow-y: scroll;
	background-color: lavender;
	position: fixed;
	top: 0;
	right: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.sidebar-content {
	width: 100%;
	text-align: center;
}

.sidebar-content h2 {
	font-family: courier;
	font-size: 2.5em;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.log {
	width: 190px;
	height: 500px;
	background-color: white;
}

.combat-field {
	display:inline-flex;
}

.lineup-container {
	border: thick solid black;
	margin: 10px;
	display: inline-block;
}

.lineup-container h2 {
	text-align: center;
	flex: 1;
	margin: 10px;
	font-family: courier;
}

/* some personal practice using CSS flexbox */
.lineup-container-header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lavender;
}

.lineup {
	display:inline-flex;
}

.position-container {
	padding-bottom: 10px;
}

/* base position properties */
[class*="position-colored-container"] {
	width: 210px;
	height: 440px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
[class*="position-colored-container"] h3 {
	text-align: center;
	margin: 0;
	padding-top: 10px;
}
.position-colored-container1 {
	background: red;
}
.position-colored-container2 {
	background: orange;
}
.position-colored-container3 {
	background: lightgreen;
}
.position-colored-container4 {
	background: dodgerblue;
}

.card-container {
	background: white;
	margin: 10px;
	/** has sum to 190 to fit 200px width position container*/
	width: 180px;
	text-align: center;
	border: 5px solid black;
}

/* use of flex in order to fill horizontal space between name and level */
.card-container .header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}

.card-container .header h3 {
	color: black;
	text-align: center;
	font-size: 0.8em;
	flex: auto;
	margin: 0px;
	padding: 0px;
}

.card-container .header .filler {
	flex: auto;
}

.card-container bodyHeaderCombat {
	color: teal;
	font-size: 0.7em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
	padding-top: 3px;
}

.card-container bodyHeaderAbilities {
	color: salmon;
	font-size: 0.7em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
	padding-top: 3px;
}

.card-container bodyHeaderFaction {
	color: mediumorchid;
	font-size: 0.7em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
	padding-top: 3px;
}

.card-container hpHeader {
	color: blue;
	font-size: 0.8em;
	text-align: center;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
}

.card-container dmgHeader {
	color: red;
	font-size: 0.8em;
	text-align: center;
	display:block;
	font-weight: bold;
}

.card-container img {
	width: 140px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
}

.card-container p {
	font-size: 0.7em;
	text-align: left;
	margin: 0px;
}

.edit-dmg-container {
	text-align: center;
}

.edit-dmg-button {
	width: 75px;
	height: 40px;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}

.edit-dmg-field {
	width: 30px;
	height: 20px;
	font-size: 18px;
	font-weight: bold;
}

input[class$="header-button"] {
	flex: 0.2;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
	text-transform: uppercase;
  	height: 45px;
  	margin: 0 10px;
}

.show-standby-header-button {
	background: limegreen;
}

.show-defeated-header-button {
	background: crimson;
  	color: white;
}

.swap-container {
	flex: 0.3;
	display: flex;
}

.swap-button {
	flex: 1;
}

.swap-position-field {
	flex: 1;
}

input {

}
.sidebar-button-row {
	display: flex;
}
.sidebar-button {
	background: mediumpurple;
  	border: none;
  	color: white;
  	text-transform: uppercase;
  	flex: 1;
  	outline: 0;
  	cursor: pointer;
  	height: 30px;
  	margin: 5px 5px;
}

/* Modals */
div[class$="modal"] {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    animation-name: animatetop;
    animation-duration: 0.4s
}
div[class$="modal-content"] {
	margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: thick solid black;
    width: 80%; /* Could be more or less, depending on screen size */
}
div[class$="modal-header"] {
	color: white;
	font-weight: bold;
	text-align: center;
}
div[class$="modal-card-container"] {
	display: flex;
}

.standby-modal-content {
    background-color: limegreen;
}

.defeated-modal-content {
    background-color: crimson;
}

	/* animation for modal */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Card Menu */
.card-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 150px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.card-menu--active {
	display: block;
}

.card-menu-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.card-menu-item {
  display: block;
  margin-bottom: 4px;
}

.card-menu-item:last-child {
  margin-bottom: 0;
}

.card-menu-link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.card-menu-link:hover {
  color: #fff;
  background-color: #0066aa;
}
