<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/bundle.js"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>
    <script type="text/javascript" src="/javascripts/characters.json"></script>
    <script type="text/javascript" src="/javascripts/actions.json"></script>
    <script type="text/javascript" src="/javascripts/factionBonus.json"></script>
    <script type="text/javascript" src="/javascripts/class.js"></script>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
    <script type="text/javascript" src="/javascripts/customAbilities.js"></script>
    <script type="text/javascript" src="/javascripts/conditions.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
</head>

<body>
<div class="main-header">
	<h2> Lineup </h2>
</div>

<div class="main-content">
	<div class="combat-field" id="combat-field">
		<!-- Player 1 Lineup -->
		<div class="lineup-container">
			<div class="lineup-container-header">
				<input class="show-standby-header-button" id="show-standby-button1" type="button" value="Standby" onclick="showStandbyModal(true)">
				<input class="show-defeated-header-button" id="show-defeated-button1" type="button" value="Defeated" onclick="showDefeatedModal(true)">
				<h2> Player 1 </h2>
				<input class="show-actions-header-button" id="show-actions-button1" type="button" value="ACTIONS" onclick="showActionsModal(true)">
				<div class="swap-container">
					<input class="swap-button" id="swap-button-1" type="button" value="Swap" onclick="swapPositions(true)">
					<input class="swap-position-field" id="swap-position-field1-1" type="text" size="4">
					<input class="swap-position-field" id="swap-position-field1-2" type="text" size="4">
				</div>
			</div>
			<div class="lineup">
				<div class="position-container">
					<div class="position-colored-container4">
						<h3>Position 4</h3>
						<div class="position-card-container" id="position-card-container1"></div>
					</div>
				</div>
				<div class="position-container">
					<div class="position-colored-container3">
						<h3>Position 3</h3>
						<div class="position-card-container" id="position-card-container2"></div>
					</div>
				</div>
				<div class="position-container">
					<div class="position-colored-container2">
						<h3>Position 2</h3>
						<div class="position-card-container" id="position-card-container3"></div>
					</div>
				</div>
				<div class="position-container">
					<div class="position-colored-container1">
						<h3>Position 1</h3>
						<div class="position-card-container" id="position-card-container4"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- dividing line -->
		<div class="vertical-divider"></div>
		<!-- Player 2 Lineup -->
		<div class="lineup-container">
			<div class="lineup-container-header">
				<input class="show-standby-header-button" id="show-standby-button2" type="button" value="Standby" onclick="showStandbyModal(false)">
				<input class="show-defeated-header-button" id="show-defeated-button2" type="button" value="Defeated" onclick="showDefeatedModal(false)">
				<h2> Player 2 </h2>
				<input class="show-actions-header-button" id="show-actions-button2" type="button" value="ACTIONS" onclick="showActionsModal(false)">
				<div class="swap-container">
					<input class="swap-button" id="swap-button-1" type="button" value="Swap" onclick="swapPositions(false)">
					<input class="swap-position-field" id="swap-position-field2-1" type="text" size="4">
					<input class="swap-position-field" id="swap-position-field2-2" type="text" size="4">
				</div>

			</div>
			<div class="lineup">
				<div class="position-container">
					<div class="position-colored-container1">
						<h3>Position 1</h3>
						<div class="position-card-container" id="position-card-container5"></div>
					</div>
				</div>
				<div class="position-container">
					<div class="position-colored-container2">
						<h3>Position 2</h3>
						<div class="position-card-container" id="position-card-container6"></div>
					</div>
				</div>
				<div class="position-container">
					<div class="position-colored-container3">
						<h3>Position 3</h3>
						<div class="position-card-container" id="position-card-container7"></div>
					</div>
				</div>
				<div class="position-container">
					<div class="position-colored-container4">
						<h3>Position 4</h3>
						<div class="position-card-container" id="position-card-container8"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bottom-bar" id="bottom-bar">
	<div class="action-log" id="action-log">
		<div class="action-log-content" id="action-log-content"></div>
	</div>
	<div class="control-panel" id="control-panel">
		<div class="header">
			<h3> Control Panel </h3>
		</div>
		<div class="row">
			<input class="button" id="next-phase" type="button" value="Next Phase" onclick="nextPhase()">
			<input class="button" id="slide-lineups" type="button" value="Slide Lineups" onclick="slideLineups()">
		</div>
		<div class="row">
			<input class="button" id="combat-actions" type="button" value="Combat Actions" onclick="combatActions()">
			<input class="button" id="remove-defeated" type="button" value="Remove Defeated" onclick="removeDefeatedFromLineups()">
		</div>
	</div>
</div>

<div class="standby-modal" id="standby-modal">
	<div class="standby-modal-content">
		<div class="standby-modal-header">
			<h2> STANDBY </h2>
		</div>
		<div class="standby-modal-card-container" id="standby-modal-card-container"></div>
	</div>
</div>

<div class="defeated-modal" id="defeated-modal">
	<div class="defeated-modal-content">
		<div class="defeated-modal-header">
			<h2> DEFEATED </h2>
		</div>
		<div class="defeated-modal-card-container" id="defeated-modal-card-container"></div>
	</div>
</div>

<div class="actions-modal" id="actions-modal">
	<div class="actions-modal-content">
		<div class="actions-modal-header">
			<h2> Deck & Hand </h2>
		</div>
		<div class="actions-energy-container">
			<span id="energy-label"> Energy </span>
			<input class="button" type="button" value="+1" onclick="add1EnergyFromModal()">
			<input class="button" type="button" value="-1" onclick="remove1EnergyFromModal()">
		</div>
		<div class="actions-modal-body">
			<div class="actions-modal-hand-container" id="actions-modal-hand-container"></div>
		</div>

		<div class="actions-modal-header">
			<h2> Flips </h2>
		</div>
		<div class="actions-modal-body">
			<div class="actions-modal-flips-container" id="actions-modal-flips-container"></div>
		</div>

		<div class="actions-modal-header">
			<h2> Discards </h2>
		</div>
		<div class="actions-modal-body">
			<div class="actions-modal-discards-container" id="actions-modal-discards-container"></div>
		</div>
	</div>
</div>

<nav class="card-menu" id="card-menu">
	<ul class="card-menu-items">
		<li class="card-menu-item" type="character">
			<a href="#" class="card-menu-link" menu-action="move-to-pos-1"> Move to Pos 1 </a>
		</li>
		<li class="card-menu-item" type="character">
			<a href="#" class="card-menu-link" menu-action="move-to-pos-2"> Move to Pos 2 </a>
		</li>
		<li class="card-menu-item" type="character">
			<a href="#" class="card-menu-link" menu-action="move-to-pos-3"> Move to Pos 3 </a>
		</li>
		<li class="card-menu-item" type="character">
			<a href="#" class="card-menu-link" menu-action="move-to-pos-4"> Move to Pos 4 </a>
		</li>
		<li class="card-menu-item" type="character">
			<a href="#" class="card-menu-link" menu-action="move-to-standby"> Move to Standby </a>
		</li>
		<li class="card-menu-item" type="character">
			<a href="#" class="card-menu-link" menu-action="move-to-defeated"> Move to Defeated </a>
		</li>
		<li class="card-menu-item" type="character">
			<a href="#" class="card-menu-link" menu-action="add-1-dmg"> Add 1 DMG </a>
		</li>
		<li class="card-menu-item" type="character">
			<a href="#" class="card-menu-link" menu-action="remove-1-dmg"> Remove 1 DMG </a>
		</li>
		<li class="card-menu-item" type="action-card">
			<a href="#" class="card-menu-link" menu-action="move-to-hand"> Move to Hand </a>
		</li>
		<li class="card-menu-item" type="action-card">
			<a href="#" class="card-menu-link" menu-action="move-to-deck"> Move to Deck </a>
		</li>
		<li class="card-menu-item" type="action-card">
			<a href="#" class="card-menu-link" menu-action="move-to-flips"> Move to Flips </a>
		</li>
		<li class="card-menu-item" type="action-card">
			<a href="#" class="card-menu-link" menu-action="move-to-discards"> Discard </a>
		</li>
		<li class="card-menu-item" type="deck">
			<a href="#" class="card-menu-link" menu-action="draw"> Draw </a>
		</li>		
		<li class="card-menu-item" type="deck">
			<a href="#" class="card-menu-link" menu-action="shuffle"> Shuffle </a>
		</li>
	</ul>
</nav>

<!-- Normally hidden -->
<span id="position-arrow"></span>
<!-- This script needs to be at the bottom as it relies on the DOM being ready to set up context menu -->
<script type="text/javascript" src="/javascripts/cardMenu.js"></script>

</body>

</html>