/*** MAIN HEADER ***/

.main-header {
	width: 100%;
	background-color: lavender;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: thick solid black
}

.main-header h2 {
	flex: 1;
	font-family: courier;
	font-size: 2.5em;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.vertical-divider {
	width: 1px;
	border-left: thick solid black;
}

/*** MAIN COMBAT FIELD ***/

.main-content {
	overflow: auto;
}

.combat-field {
	display:inline-flex;
	background-color: peachpuff;
}

.lineup-container {
	margin-left: 4px;
	margin-right: 5px;
	display: inline-block;
}

.lineup-container h2 {
	text-align: center;
	flex: 1;
	margin: 0;
	font-family: courier;
}

/* some personal practice using CSS flexbox */
.lineup-container-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lineup {
	display:inline-flex;
}

.position-container {
	padding-bottom: 5px;
	/* this is pretty precise, sizes the lineups to the size of my window */
	width: 155px;
	display: inline-flex;
	flex-direction: column;
}

/* base position properties */
[class*="position-colored-container"] {
	height: 380px;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
[class*="position-colored-container"] h3 {
	text-align: center;
	margin: 0;
	padding-top: 10px;
}
.position-colored-container1 {
	background: cornflowerblue;
}
.position-colored-container2 {
	background: lightskyblue;
}
.position-colored-container3 {
	background: lightblue;
}
.position-colored-container4 {
	background: powderblue;
}

input[class$="header-button"] {
	flex: 0.2;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
	text-transform: uppercase;
  	height: 30px;
  	margin: 0 10px;
}

.show-standby-header-button {
	background: lightgreen;
}

.show-defeated-header-button {
	background: firebrick;
  	color: white;
}

.show-actions-header-button {
	background: orchid;
	color: white;
}

.swap-container {
	flex: 0.2;
	display: flex;
}

.swap-button {
	flex: 1;
}

.swap-position-field {
	flex: 1;
}

/*** CHARACTER CARD ***/

/* only used by modals to give a fixed width to cards without being in
   a position container */
.card-outer-container {
 	width: 155px;
 	margin-left: 5px;
 	margin-right: 5px;
}

.card-container {
	background: white;
	flex: 1;
	text-align: center;
	border: 5px solid black;
}

/* use of flex in order to fill horizontal space between name and level */
.card-container .header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}

.card-container .header h3 {
	color: black;
	text-align: center;
	font-size: 0.7em;
	flex: auto;
	margin: 0px;
	padding: 0px;
}

.card-container bodyHeaderCombat {
	color: teal;
	font-size: 0.6em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
	padding-top: 3px;
}

.card-container bodyHeaderAbilities {
	color: salmon;
	font-size: 0.6em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
	padding-top: 3px;
}

.card-container bodyHeaderFaction {
	color: mediumorchid;
	font-size: 0.6em;
	text-align: left;
	display:block;
	font-weight: bold;
	border-top: 1px solid black;
	padding-top: 3px;
}

.card-container .hp-dmg-container {
	display: inline-flex;
	border-top: 1px solid black;
	text-align: center;
	width: 100%;
}

.card-container hpHeader {
	color: blue;
	font-size: 0.8em;
	text-align: center;
	display:block;
	font-weight: bold;
	flex:1;
}

.card-container dmgHeader {
	color: red;
	font-size: 0.8em;
	text-align: center;
	display:block;
	font-weight: bold;
	flex:1;
}

.card-container img {
	max-width: 140px;
	max-height: 100px;
}

.card-container p {
	font-size: 0.7em;
	text-align: left;
	margin: 0px;
}

/*** ACTION CARDS ***/

.action-card-container {
	background: white;
	text-align: center;
	border: 5px solid black;
	height: 200px;
	width: 150px;
	margin: 5px;
}

.action-card-container .header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}

.action-card-container .header h3 {
	color: black;
	text-align: center;
	font-size: 0.7em;
	flex: auto;
	margin: 0px;
	padding: 0px;
}

.action-card-container img {
	max-width: 140px;
	max-height: 100px;
}

.action-card-container p {
	font-size: 0.7em;
	text-align: left;
	margin: 0px;
	border-top: 1px solid black;
	padding: 3px;
}

/*** BOTTOM BAR ***/

.bottom-bar {
	border-top: thick solid black;
	display: inline-flex;
	align-items: stretch;
	width: 100%;
	/* needs to be exact with action-log-content height */
	height: 170px;
	border-bottom: thick solid black;
}

.bottom-bar .control-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	border-left: thick solid black;
	height: 100%;
}

.bottom-bar .control-panel p {
	margin: 0;
	font-size: 0.8em;
	font-weight: bold;
}

.bottom-bar .control-panel h3 {
	margin-top: 0;
	margin-bottom: 4px;
	margin-right: 0;
	margin-left: 0;
	font-family: courier;
}

.bottom-bar .control-panel .header {
	flex: 0.5;
	text-align: center;
}

.bottom-bar .control-panel .row {
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.bottom-bar .control-panel .row .button {
	background: mediumpurple;
  	border: none;
  	color: white;
  	text-transform: uppercase;
  	flex: 1;
  	outline: 0;
  	cursor: pointer;
  	height: 30px;
  	margin: 2px 5px;
}

.bottom-bar .control-panel .row .button--disabled {
	background: grey;
}

.bottom-bar .action-log {
	flex: 3;
}

.bottom-bar .action-log-content {
	flex: 1 1 auto;
	flex-direction: column;
	overflow-y: auto;
	height: 170px;
	display: flex;
	min-height: 0px
}

/* workaround since "justify-content: flex-end;"
   does not work with y overflow scrolling */
.bottom-bar .action-log-content > :first-child {
	margin-top: auto !important;
}

.bottom-bar .action-log-content .round-entry {
	background-color: orange;
}

.bottom-bar .action-log-content .phase-entry {
	background-color: cornflowerblue;
}

.bottom-bar .action-log-content .important-entry {
	background-color: lightsteelblue;
	padding-left: 10px;
}

.bottom-bar .action-log-content .normal-entry-1 {
	background-color: white;
	padding-left: 20px;
}

.bottom-bar .action-log-content .normal-entry-2 {
	background-color: gainsboro;
	padding-left: 20px;
}

/*** MODALS ***/

div[class$="modal"] {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    animation-name: animatetop;
    animation-duration: 0.4s
}
div[class$="modal-content"] {
	margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: thick solid black;
    width: 80%; /* Could be more or less, depending on screen size */
}
div[class$="modal-header"] {
	color: white;
	font-weight: bold;
	text-align: center;
}
div[class$="modal-card-container"] {
	display: flex;
}

.standby-modal-content {
    background-color: lightgreen;
}

.defeated-modal-content {
    background-color: firebrick;
}

.actions-modal-content {
	background-color: orchid;
}

.actions-modal-body {
	display: inline-flex;
}

.actions-deck-container {
	background: peru;
	text-align: center;
	border: 5px solid black;
	height: 200px;
	width: 150px;
	display: flex;
	align-items: center;
	margin: 5px;
}

.actions-deck-container h2 {
	flex: 1;
}

.actions-modal-hand-container {
	display: inline-flex;
	flex-wrap: wrap;
}

.actions-modal-flips-container {
	display: inline-flex;
	flex-wrap: wrap;
}

.actions-modal-discards-container {
	display: inline-flex;
	flex-wrap: wrap;
}

	/* animation for modal */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/*** CARD MENU ***/

.card-menu {
	display: none;
	position: absolute;
	z-index: 10;
	padding: 12px 0;
	width: 150px;
	background-color: #fff;
	border: solid 1px #dfdfdf;
	box-shadow: 1px 1px 2px #cfcfcf;
}

.card-menu--active {
	display: block;
}

.card-menu-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.card-menu-item {
	display: block;
	margin-bottom: 4px;
}

.card-menu-item:last-child {
	margin-bottom: 0;
}

.card-menu-link {
	display: block;
	padding: 4px 12px;
	color: #0066aa;
	text-decoration: none;
}

.card-menu-link:hover {
	color: #fff;
	background-color: #0066aa;
}

/*** Animated Tickers ***/
.red-dmg-ticker {
	color: red;
	font-weight: bold;
	font-size: 2em;
}

.green-dmg-ticker {
	color: green;
	font-weight: bold;
	font-size: 2em;
}

/*** Position Arrow ***/
#position-arrow {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid red;
	display: none;
	position: absolute;
}

/*** EXTRA ***/
greenText {
	color: green;
}

firebrickText {
	color: firebrick;
}

blueText {
	color: blue;
}

orchidText {
	color: orchid;
}

mediumorchidText {
	color: mediumorchid;
}

salmonText {
	color: salmon;
}
